@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #171717;
  --background-dark: #171717;
  --foreground-dark: #ededed;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "", sans-serif;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

picture {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: none;
}

button {
  all: unset;
  cursor: pointer;
}

[hidden] {
  display: none !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}

blockquote {
  quotes: none;
}
blockquote::before,
blockquote::after {
  content: "";
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

:focus-visible {
  outline: 2px solid var(--foreground);
  outline-offset: 2px;
}

.dark :focus-visible {
  outline: 2px solid var(--foreground-dark);
}

:focus:not(:focus-visible) {
  outline: none;
}

html,
body {
  font-family: var(--font-varela-round);
  min-height: 100dvh;
}

iframe {
  border: 0;
}
